.vscode
.venv
venv
__pycache__
*.py[cod]
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints

*.png
*.json
*.zip
*.hdf5
*.pdf

Task3/ptb-xl-1.0.3/*
Task3/ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3.zip
Task3/Images
Task3/Processed
Task3/DL_ECG_Classification/saved_models/*
Task3/challenge-2021
Task3/physionet.org
