*.png
*.json
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints

Task3/ptb-xl-1.0.3/*
Task3/ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3.zip
Task3/validation
Task3/Images
Task3/Processed
Task3/saved_models
