argon2-cffi
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fonttools
idna
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numba
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prettytable
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pyts
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
Send2Trash
six
soupsieve
stack-data
terminado
testpath
threadpoolctl
tifffile
torch
torchaudio
torchvision
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
widgetsnbextension
zipp
